@model DoAnWebBanGiay.Models.Entities.PhanHoi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Phản hồi </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nguoiDung.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
