@model DoAnWebBanGiay.Models.Entities.LoaiSP

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa loại sản phẩm</h1>

<h3>Bạn có chắc muốn xóa loại sản phẩm này không?</h3>
<div>
    <hr />
    <h3 class="text-danger">@ViewBag.Status</h3>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
